  static const iconIds = <String>[
    'china-bamboo-1',
    'china-bamboo-2',
    'china-bamboo-3',
    'china-bamboo-4',
    'china-bamboo-5',
    'china-bamboo-6',
    'china-bamboo-7',
    'china-bamboo-8',
    'china-bamboo-9',
    'china-dragon-1',
    'china-dragon-2',
    'china-dragon-3',
    'china-flower-1',
    'china-flower-2',
    'china-flower-3',
    'china-flower-4',
    'china-flower-5',
    'china-flower-6',
    'china-flower-7',
    'china-flower-8',
    'china-flower-9',
    'china-number-1',
    'china-number-2',
    'china-number-3',
    'china-number-4',
    'china-number-5',
    'china-number-6',
    'china-number-7',
    'china-number-8',
    'china-number-9',
    'china-plant-1',
    'china-plant-2',
    'china-plant-3',
    'china-plant-4',
    'china-season-fall',
    'china-season-spring',
    'china-season-summer',
    'china-season-winter',
    'china-wind-east',
    'china-wind-north',
    'china-wind-south',
    'china-wind-west',
    'egypt-bamboo-1',
    'egypt-bamboo-2',
    'egypt-bamboo-3',
    'egypt-bamboo-4',
    'egypt-bamboo-5',
    'egypt-bamboo-6',
    'egypt-bamboo-7',
    'egypt-bamboo-8',
    'egypt-bamboo-9',
    'egypt-dragon-1',
    'egypt-dragon-2',
    'egypt-dragon-3',
    'egypt-flower-1',
    'egypt-flower-2',
    'egypt-flower-3',
    'egypt-flower-4',
    'egypt-flower-5',
    'egypt-flower-6',
    'egypt-flower-7',
    'egypt-flower-8',
    'egypt-flower-9',
    'egypt-number-1',
    'egypt-number-2',
    'egypt-number-3',
    'egypt-number-4',
    'egypt-number-5',
    'egypt-number-6',
    'egypt-number-7',
    'egypt-number-8',
    'egypt-number-9',
    'egypt-plant-1',
    'egypt-plant-2',
    'egypt-plant-3',
    'egypt-plant-4',
    'egypt-season-fall',
    'egypt-season-spring',
    'egypt-season-summer',
    'egypt-season-winter',
    'egypt-wind-east',
    'egypt-wind-north',
    'egypt-wind-south',
    'egypt-wind-west',
    'india-bamboo-1',
    'india-bamboo-2',
    'india-bamboo-3',
    'india-bamboo-4',
    'india-bamboo-5',
    'india-bamboo-6',
    'india-bamboo-7',
    'india-bamboo-8',
    'india-bamboo-9',
    'india-dragon-1',
    'india-dragon-2',
    'india-dragon-3',
    'india-flower-1',
    'india-flower-2',
    'india-flower-3',
    'india-flower-4',
    'india-flower-5',
    'india-flower-6',
    'india-flower-7',
    'india-flower-8',
    'india-flower-9',
    'india-number-1',
    'india-number-2',
    'india-number-3',
    'india-number-4',
    'india-number-5',
    'india-number-6',
    'india-number-7',
    'india-number-8',
    'india-number-9',
    'india-plant-1',
    'india-plant-2',
    'india-plant-3',
    'india-plant-4',
    'india-season-fall',
    'india-season-spring',
    'india-season-summer',
    'india-season-winter',
    'india-wind-east',
    'india-wind-north',
    'india-wind-south',
    'india-wind-west',
    'japan-bamboo-1',
    'japan-bamboo-2',
    'japan-bamboo-3',
    'japan-bamboo-4',
    'japan-bamboo-5',
    'japan-bamboo-6',
    'japan-bamboo-7',
    'japan-bamboo-8',
    'japan-bamboo-9',
    'japan-dragon-1',
    'japan-dragon-2',
    'japan-dragon-3',
    'japan-flower-1',
    'japan-flower-2',
    'japan-flower-3',
    'japan-flower-4',
    'japan-flower-5',
    'japan-flower-6',
    'japan-flower-7',
    'japan-flower-8',
    'japan-flower-9',
    'japan-number-1',
    'japan-number-2',
    'japan-number-3',
    'japan-number-4',
    'japan-number-5',
    'japan-number-6',
    'japan-number-7',
    'japan-number-8',
    'japan-number-9',
    'japan-plant-1',
    'japan-plant-2',
    'japan-plant-3',
    'japan-plant-4',
    'japan-season-fall',
    'japan-season-spring',
    'japan-season-summer',
    'japan-season-winter',
    'japan-wind-east',
    'japan-wind-north',
    'japan-wind-south',
    'japan-wind-west',
    'korea-bamboo-1',
    'korea-bamboo-2',
    'korea-bamboo-3',
    'korea-bamboo-4',
    'korea-bamboo-5',
    'korea-bamboo-6',
    'korea-bamboo-7',
    'korea-bamboo-8',
    'korea-bamboo-9',
    'korea-dragon-1',
    'korea-dragon-2',
    'korea-dragon-3',
    'korea-flower-1',
    'korea-flower-2',
    'korea-flower-3',
    'korea-flower-4',
    'korea-flower-5',
    'korea-flower-6',
    'korea-flower-7',
    'korea-flower-8',
    'korea-flower-9',
    'korea-number-1',
    'korea-number-2',
    'korea-number-3',
    'korea-number-4',
    'korea-number-5',
    'korea-number-6',
    'korea-number-7',
    'korea-number-8',
    'korea-number-9',
    'korea-plant-1',
    'korea-plant-2',
    'korea-plant-3',
    'korea-plant-4',
    'korea-season-fall',
    'korea-season-spring',
    'korea-season-summer',
    'korea-season-winter',
    'korea-wind-east',
    'korea-wind-north',
    'korea-wind-south',
    'korea-wind-west',
    'medieval-bamboo-1',
    'medieval-bamboo-2',
    'medieval-bamboo-3',
    'medieval-bamboo-4',
    'medieval-bamboo-5',
    'medieval-bamboo-6',
    'medieval-bamboo-7',
    'medieval-bamboo-8',
    'medieval-bamboo-9',
    'medieval-dragon-1',
    'medieval-dragon-2',
    'medieval-dragon-3',
    'medieval-flower-1',
    'medieval-flower-2',
    'medieval-flower-3',
    'medieval-flower-4',
    'medieval-flower-5',
    'medieval-flower-6',
    'medieval-flower-7',
    'medieval-flower-8',
    'medieval-flower-9',
    'medieval-number-1',
    'medieval-number-2',
    'medieval-number-3',
    'medieval-number-4',
    'medieval-number-5',
    'medieval-number-6',
    'medieval-number-7',
    'medieval-number-8',
    'medieval-number-9',
    'medieval-plant-1',
    'medieval-plant-2',
    'medieval-plant-3',
    'medieval-plant-4',
    'medieval-season-fall',
    'medieval-season-spring',
    'medieval-season-summer',
    'medieval-season-winter',
    'medieval-wind-east',
    'medieval-wind-north',
    'medieval-wind-south',
    'medieval-wind-west',
    'joker-1',
    'joker-2',
    'joker-3',
    'joker-4',
    'joker-5',
    'joker-6',
  ];

